<h1>Objetivo</h1>

<p>Neste trabalho temos como objetivo a criação de um portal interativo de jogos mobile que iram auxiliar no desenvolvimento intelectual das crianças.</p>
<p>Dado que segundo o estudo de psicólogos na área de desenvolvimento infantil, podemos concluir que os jogos auxiliam no desenvolvimento intelectual das crianças.</p>
<p>Isso levando em consideração que crianças não estão mais brincando nas ruas como antigamente, e que em sua maioria elas estão utilizando cada vez mais cedo aparelhos eletrônicos como: Tablet, Celulares, Computadores e etc.</p>
<p>Com as rotinas tradicionais de ensino adotado pelas escolas, muitas vezes não se mostrando atrativa aos alunos, entrar na sala de aula, sentar-se em fileiras, copiar o que é escrito na lousa em um caderno. Assim instituições de ensino como a Stance Dual School já tem mudado seu padrão de ensino inserindo jogos em sua grade escolar, como games e xadrez nas disciplinas de língua estrangeira (inglês) e de língua portuguesa.</p>
<p>Para o maior alcance inclusive para alcançar os pais, iremos desenvolver um site para que os pais possam auxiliar os filhos a conhecer nossos jogos.</p>
<p>Contudo temos o intuito de desenvolver jogos que além de trazer diversão para as crianças elas iram trazer também novas formas de aprendizado aonde ela pode aprender por exemplo: nas operações básicas da matemática e na maneira correta de se escrever.</p>
